// Load Fonts

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Slab&family=Merriweather&family=Oswald&family=Roboto+Slab&display=swap');

$offWhite: 	#EEE8D6;
$darkBlue: 	#022933;
$yellow:   	#FFBA00;
$blue:		#0076A3;
$green:     #548C27;
$orange:    #F39856;
$red:		#D14348;
$purple:	#6D73C2;

$color-main: $darkBlue;
$color-backgrounds: $offWhite;
$color-headlines: $red;

$font-main: 'Merriweather', Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;